<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/style.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="/public/app.js" defer></script>
</head>
<body>
  <%= yield_content %>

  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created with <a href="https://github.com/gafemoyano/funapi">FunApi</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</body>
</html>
